#banner{
    color: white;
    font-size: 20px;
    background-color:#252a43;
    height: 50vh;
    margin-top: 4%;   
}
.banner-hero {
    padding: 8% 20%;
}
.banner-hero input {
    width: 50%;
    border-radius: 10px;
    height: 6vh;
}
.trending-div {
    display: flex;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
#accessories {
    margin-top: 25%;
    margin-bottom: 25%;
}
.shop-card {
    width: 90%;
    transition: transform 0.3s ease-in-out;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.shop-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.shop-card img {
    width: 100%;
    height: 25vh;
}
.shop-card-amount {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
}
#discount-div {
    background-color: orange;
    height: 17vh;
    margin-bottom: 2%;
    align-items: center;
    text-align: center;
    padding-top: 2%;
}
#best-sellers {
    margin-top: 2%;
    margin-bottom: 25%;
}

.button{
    height: 45px;
    margin-left: 260%;
    margin-top: 3%;
    width: 200px;
    background-color: #4A9E8A;
    border: none;
    border-radius: 40px;
    color: #FFFFFF;
    font-size: 17px;
}