#cart {
    margin-top: 90px;
    margin-bottom: 1900px;
}
#cart-hero {
    display: flex;
}
#cart h1{
    text-align: center;
}
#cart-card {
    display: flex;
    border-bottom: 1px solid red;
    height: 20vh;
}
#cart-card img {
    height: 20vh;
    width: 15vw;
}
#cart-card h5 {
    width: 100%;
}
.cart-div {
    padding-top: 30px;
}
.cart-card-btns {
    display: flex;
    gap: 8px;
    margin-top: 30px;
    height: 5vh;
}
.cart-card-btns p{
    margin: auto;
}
#cart-card h4 {
    margin: auto 5px;
    padding: 0 20px;
}
#remove-btn {
    margin: auto 0;
}
#cart-amount {
    display: flex;
    flex-direction: column;
}
#cart-summary {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 100%;
}
.suggestion {
    margin-bottom: 400px;
}

/* mobile screen device  */
@media screen and (min-width: 360px) and (max-width: 765px){
    #cart-card {
        display: flex;
        flex-direction: column;
    }
}