#cart {
    margin-top: 90px;
    margin-bottom: 4%;
}
#cart-hero {
    padding-bottom: 250px;
}
#cart h1{
    text-align: center;
}
#cart-card {
    display: flex;
    border-bottom: 2px solid red;
    height: 20vh;
}
#cart-card img {
    height: 20vh;
    width: 15vw;
}
#cart-card h5 {
    width: 100%;
}
.cart-card-btns {
    display: flex;
    gap: 5px;
    margin: auto;
}
#cart-card h4 {
    margin: auto 5px;
    padding: 0 20px;
}
#remove-btn {
    margin: auto 0;
}