#coursedetails {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
}
#courseDetailsLoading {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.courseDetailsloader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#courseDetailsLoading p {
    color: #fb8500;
    font-weight: bold;
    font-size: 1.5em; 
    text-align: center;
    animation: loading-text 10s infinite;
}
@keyframes loading-text {
    0% {
      opacity: 0.2;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0.2;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
}
.loading1 {
    position: absolute;
    content: "";
    margin-right: 1em;
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #333;
    box-shadow: 0 1px 7px rgba(0,0,0,0.3);
}
.loading2 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #f44336;
    animation: 2s flow2 infinite;
}
.loading3 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #e91e63;
    animation: 2s flow3 infinite;
}
.loading4 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #9c27b0;
    animation: 2s flow4 infinite;
}
.loading5 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #673ab7;
    animation: 2s flow5 infinite;
}
.loading6 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #3f51b5;
    animation: 6s flow6 infinite;
}
.loading7 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #2196f3;
    animation: 6s flow7 infinite;
}
.loading8 {
    position: absolute;
    margin-right: 1em;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #03a9f4;
    animation: 6s flow8 infinite;
}
.loading9 {
    position: absolute;
    content: "";
    height: 1.2em;
    width: 1.2em;
    border-radius: 5px;
    background-color: #00bcd4;
    animation: 6s flow9 infinite;
}

  @keyframes flow2 {
    50% {
      transform: translateX(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em);
    }
  }
  
  @keyframes flow3 {
    50% {
      transform: translateX(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em);
    }
  }
  
  @keyframes flow4 {
    50% {
      transform: translateY(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateY(0em);
    }
  }
  
  @keyframes flow5 {
    50% {
      transform: translateY(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateY(0em);
    }
  }
  
  @keyframes flow6 {
    30% {
      transform: translateX(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    60% {
      transform: translateX(3em) translateY(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  
  @keyframes flow7 {
    30% {
      transform: translateX(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    60% {
      transform: translateX(-3em) translateY(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  
  @keyframes flow8 {
    30% {
      transform: translateY(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    60% {
      transform: translateY(3em) translateX(3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  
  @keyframes flow9 {
    30% {
      transform: translateY(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    60% {
      transform: translateY(-3em) translateX(-3em);
      box-shadow: 0 1px 7px rgba(0,0,0,0.3);
    }
  
    100% {
      transform: translateX(0em) translateY(0em);
    }
  }
  
#course-description {
    display: flex;
    flex-direction: column;
}
.back-btn {
    width: 13vw;
    margin-top: 8%;
    margin-left: 10%;
}
#course-description img {
    border-radius: 7px;
}
#course-description h3 {
    padding-top: 25px;
}
.addedToCart {
  background-color: orange;
}
.courseDetailsCard {
    margin-bottom: 15px;
    background-color: #f5f4f5;
    width: 330px;
    padding: 3% 5%;
    border-radius: 8px;
    border: 1px solid black;
}
.courseDetailsCard h5 {
    text-align: center;
}
.courseDetailsCard button {
    width: 100%;
}
p span {
    color: black;
    font-weight: bold;
}
.checkicon {
    color: #4caf50;
    font-size: 1.2em;
    margin-right: 7px;
}
#loading {
    margin-top: 8%;
    margin-bottom: 54%;
    color: red;
    font-weight: bold;
}
#loading p{
    margin-bottom: 50%;
    margin-left: 6%;
}
#upcoming-live {
    margin: 530px 11% 2% 11%;
}
#feedback-hero {
    margin: 0px 11% 3% 11%;
}
#feedback-btns {
    display: flex;
    gap: 20px;
  } 
.like-button:hover {
    color:#4caf50;
}
.like-button.active {
    background-color: #252a43;
    color:#ffffff;
}
.like-button.active:hover {
    color:#4caf50;
}
#suggestion {
    margin-bottom: 540px;
}
#suggestion h3{
    text-align: center;
}
.suggested-div {
    display: flex;
    margin-bottom: 140px;
}

/* mobile responsiveness   */
@media (max-width: 768px) {
    #coursedetails {
        display: flex;
        flex-direction: column;
        margin-top: 175%;
        gap: 20px;
    }
    #course-description img {
        height: 27vh;
        max-width: 100%;
    }
    #course-description button {
        width: 40%;
    }
    .courseDetailsCard {
        margin-bottom: 15px;
        width: 100%;
    }
    #upcoming-live {
        margin: 560px 4% 0 4%;
    }
    #feedback-hero {
        margin: 0px 4% 4% 4%;
    }
    #suggestion {
        margin-bottom: 1970px;
    }
    .suggested-div {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}