#coursedetails {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
}
#course-description {
    display: flex;
    flex-direction: column;
}
.back-btn {
    width: 13vw;
    margin-top: 8%;
    margin-left: 10%;
}
#course-description img {
    border-radius: 7px;
}
#course-description h3 {
    padding-top: 25px;
}
#enroll-btn {
    width: 30%;
}
.courseDetailsCard {
    margin-bottom: 15px;
    background-color: #f5f4f5;
    width: 330px;
    padding: 3% 5%;
    border-radius: 8px;
    border: 1px solid black;
}
.courseDetailsCard h5 {
    text-align: center;
}
.courseDetailsCard button {
    width: 100%;
}
p span {
    color: black;
    font-weight: bold;
}
.checkicon {
    color: #4caf50;
    font-size: 1.2em;
    margin-right: 7px;
}
#loading {
    margin-top: 8%;
    margin-bottom: 54%;
    color: red;
    font-weight: bold;
}
#loading p{
    margin-bottom: 50%;
    margin-left: 6%;
}
#upcoming-live {
    margin: 530px 11% 2% 11%;
}
#feedback-hero {
    margin: 0px 11% 3% 11%;
}
#feedback-btns {
    display: flex;
    gap: 20px;
  } 
.like-button:hover {
    color:#4caf50;
}
.like-button.active {
    background-color: #252a43;
    color:#ffffff;
}
.like-button.active:hover {
    color:#4caf50;
}

/* mobile responsiveness   */
@media (max-width: 768px) {
    #coursedetails {
        display: flex;
        flex-direction: column;
        margin-top: 175%;
        gap: 20px;
    }
    #course-description img {
        height: 27vh;
        max-width: 100%;
    }
    #course-description button {
        width: 40%;
    }
    .courseDetailsCard {
        margin-bottom: 15px;
        width: 100%;
    }
    #upcoming-live {
        margin: 560px 4% 0 4%;
    }
    #feedback-hero {
        margin: 0px 4% 4% 4%;
    }
}