#about-banner {
    display: flex;
    gap: 50px;
    height: auto;
    padding: 2% 4%;
}
#about {
    width: 100%;
    overflow: hidden;
}
#bannerimg {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 40vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bannerimg img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.about-hero {
    height: auto;
    z-index: -1;
    clip-path: polygon(
        0 0,
        90% 0,
        100% 50%,
        90% 100%,
        0 100%
    )
}
.about-banner-img {
    margin: auto;;
    height: 30vh;
    width: 350px;
}
#about-name {
    position: absolute;
    color: white;
    font-size: 3rem;
    font-weight: bolder;
}
#our-story {
    display: flex;
    margin-top: 1%;
    gap: 7%;
    text-align: center;
    width: 70%;
    margin: 1% auto;
}
#our-story img {
    margin: auto;
    width: 200px;
}
#our-story h2 {
    text-align: center;
}
#partner-container {
    width: 100%;
}
#partners {
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    margin: 4% auto;
}
#logo-div {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    margin: 1% auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}
#logo-div img{
    height: 10vh;
    width: auto;
}
#why-us {
    margin-top: 1%;
    width: 80%;
    margin: auto;
}
#why-us h3 {
    text-align: center;
}
.why-us-div {
    display: flex;
    text-align: center;
    gap: 0px;
    margin: 1% 0;
}
.why-us-cards img {
    height: 13vh; 
}

.why-us-cards {
    border-radius: 4px;
    height: auto;
    padding: 1% 1%;
    width: 100%;
}
.why-us-cards h5 {
    padding-bottom: 2%;
}
.why-icons {
    font-size: 2em;
    color: #252a43;
}
#our-success {
    margin: 2% 8%;
}
#our-success h2 {
    text-align: center;
}
#testimonials-container {
    display: flex;
    gap: 40px;
    margin: auto;
    width: 100%;
}
.testimonials {
    text-align: center;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1% 2%;
}
.testimonials div {
    padding-top: 2%;
}
.testimonials img {
    border-radius: 50%;
}
#about-contact-hero {
    display: flex;
    gap: 80px;
    align-items: center;
    background-color: #252a43;
    height: 20vh;
    padding: 0 5%;
    margin-bottom: 3%;
    margin: 3% 10%;
    border-radius: 4px;
}
#about-contact-hero h6 {
    font-size: 1.4em;
    color: white;
} 
#about-contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1em;
}
#about-contact button {
    padding: 10px 10px;
    width: 100px;
}
#about-contact button:hover {
    background-color: #4caf50;
}
#subscription-div {
    margin-top: -50px;
  }
#subscription-plan {
    display: flex;
    justify-content: space-around;
    margin: 10px 7%;
    gap: 3%;
}
.subscription-card h4 {
    text-align: center;
}
#subscribe {
    width: 86%;
    margin: 3% auto;
}
.subscription-card {
    text-align: left;
    width: 70%;
    height: auto;
    padding: 2% 3%;
    border-radius: 4px;
    border: 1px solid gray;
    transition: transform 0.1s ease-in-out;
}
.subscription-card:hover {
    background-color: #023047;
    cursor: pointer;
    color: white;
    transform: scale(1.01);
}
.subscription-card button {
    width: 100%;
    margin-bottom: 0;
}
.check {
    color: green;
}

 /* mobile screen device  */
 @media (max-width: 766px) {
    #about {
        padding-top: 11%;
    }
    .about-us {
        margin: 0 5%;
    }
    #about-banner {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 6%;
    }
    #bannerimg {
        height: 33vh;
    }
    .about-hero {
        height: auto;
        clip-path: polygon(
            0 0,
            100% 0,
            100% 100%,
            0 100%
        )
    }
    .about-banner-img {
        width: 95%;
    }
    #our-story {
        display: flex;
        flex-direction: column;
        width: 93%;
        margin: 2% 3%;
    }
    #our-story img{
        display: none;
    }
    #partner-container {
        height: auto;
        margin: 5% 0;
    }
    #partners{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        align-items: center;
        margin: 10% 7%;
        justify-content: center;
    }
    .hero-partners {
        width: 100%;
    }
    #logo-div {
        margin: auto;
        width: 100%;
    }
    #logo-div img{
        width: auto;
        height: 5vh;
    }
    .why-us-div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    #our-success {
        margin: 5% auto;
        width: 100%;
    }
    .why-us-cards img {
        height: 10vh; 
    }
    #testimonials-container {
        display: flex;
        flex-wrap: wrap;
    }
    .testimonials {
        width: 100%;
        margin: 2% 5%;
    }
    #subscribe {
        margin: 20% 1% 20% 1%;
        width: 98%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    #subscription-plan {
        margin: 3% auto;
        display: grid;
        width: 90%;
        height: auto;
        grid-template-columns: repeat(1, 1fr);
    }
    .subscription-card {
        width: 100%;
        height: auto;
    }
    #about-contact-hero {
        display: flex;
        flex-direction: column;
        margin: 30% 4% 10% 4%;
        gap: 20px;
        padding: 3% 2%;
    }
    #about-contact-hero img {
        display: none;
    }
    #about-contact-hero h6 {
        font-size: 1em;
        text-align: center;
    }
}

@media screen and (min-width: 767px) and (max-width: 1025px){
    #about {
        padding-top: 11%;
    }
    #our-story {
        width: 90%;
    }
    #our-story img {
        height: 20vh;
        width: 200px;
    }
    #about-banner img {
        height: 20vh;
        width: 250px;
    }
    #why-us {
        width: 90%;
    }
    .why-us-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .why-us-cards img {
        height: 8vh; 
    }
    #our-success {
        margin: 4% 5%;
    }
    #partners{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: auto;
        align-items: center;
        margin: 10% 7%;
        justify-content: center;
    }
    .hero-partners {
        width: 100%;
    }
    #logo-div {
        margin: auto;
        width: 100%;
    }
    #logo-div img{
        width: auto;
        height: 5vh;
    }   
    #subscribe {
        width: 100%;
    }
    #about-contact-hero {
        height: auto;
        padding: 1% 3%;
        margin: 5%;
        gap: 15px;
        border-radius: 4px;
    }
    #about-contact-hero h6{
        font-size: 1rem;
    }
}