#about-banner {
    margin-top: 8%;
    display: flex;
    gap: 50px;
    height: 18vh;
    padding: 4%;
}
.about {
    width: 90%;
}
#our-story {
    display: flex;
    margin-top: 17%;
    gap: 5%;
}
#our-story h2 {
    text-align: center;
}
#partner-container {
    background-color: #252a43;
    height: 44vh;
}
#partners {
    margin-top: 26%;
    display: flex;
    color: white;
}
.hero-partners {
    align-items: center;
    text-align: center;
    padding-top: 8%;
}
#logo-div {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    padding: 2% 0;
    column-gap: 10px;
}
#why-us {
    margin-top: 4%;
}
#why-us h3 {
    text-align: center;
}
.why-us-div {
    display: flex;
    text-align: center;
    gap: 40px;
}
.why-us-cards {
    background-color: aliceblue;
    border-radius: 8px;
    height: 25vh;
    padding: 1% 0;
}
.why-icons {
    font-size: 2em;
    color: #252a43;
}
#our-success {
    margin-top: 18%;
    margin-bottom: 24%;
}
#our-success h3 {
    text-align: center;
}
#our-success h2 {
    text-align: center;
}
#testimonials-container {
    display: flex;
    gap: 30px;
    margin-left: 15%;
    padding: 3% 0;
}
.testimonials {
    width: 40%;
    text-align: center;
}
.testimonials img {
    border-radius: 50%;
}
#about-contact-hero {
    display: flex;
    gap: 80px;
    align-items: center;
    background-color: #456cf6;
    margin-bottom: 4%;
    height: 20vh;
    padding: 0 5%;
}
#about-contact-hero h6 {
    font-size: 1.4em;
} 
#about-contact {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-size: 1em;
}
#about-contact button {
    padding: 10px 10px;
    width: 100px;
}
