#checkout {
    margin-top: 100px;
    margin-bottom: 700px;
}
#checkout h2 {
    text-align: center;
}
.checkout-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: auto;
}
.check-icon {
    color: green;
    font-size: 1.7em;
}
.checkout-hero p:nth-child(2) {
    white-space: nowrap;
    max-width: 100px;
    font-weight: bold;
}
#order-details {
    display: flex;
}
.line {
    width: 100%;
    height: 4px;
    background-color: green;
    margin: -55px 10px 0 -25px;
}
.checkout-head {
    border-radius: 50%;
    height: 8vh;
    width: 60%;
    font-weight: bold;
    padding-top: 14px;
    text-align: center;
    background-color: rgb(232, 216, 216);
}
#cart-checkout {
    background-color: rgb(188, 165, 165);
    height: 9vh;
    width: 70%;
    padding-top: 17px;
}
#checkout-form {
    width: 70%;
}
#name-div {
    display: flex;
    justify-content: space-between;
}
.input-div {
    display: flex;
}
#checkout-form input{
    width: 20vw;
}
