#checkout {
    margin-top: 5%;
    padding: 2% 0;
    margin-bottom: 7%;
    height: 165vh;
}
#checkout h2 {
    text-align: center;
}

#order-details {
    display: flex;
    justify-content: space-between;
    gap: 25px; 
}
.delivery-address-form {
    padding: 15px 25px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.line {
    width: 100%;
    height: 4px;
    background-color: green;
    margin: -55px 10px 0 -25px;
}
#checkout-form {
    width: 85%;
}
#name-div {
    display: flex;
    justify-content: space-between;
}
.input-div {
    display: flex;
    justify-content: space-between;
}
.address-div {
    width: 100%;
}
.name-hero {
    display: flex;
    justify-content: space-between;
}
.name-hero input {
    width: 20vw;
}
#payment {
    margin-top: 30px;
}
#order-summary {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 40px;
}
.order-summary-hero {
    padding: 10px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
.order-summary-hero h5 {
    text-align: center;
}
.voucher-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    height: 5.5vh;
    gap: 15px;
}
.voucher-div input {
    width: 100%;
    border-radius: 4px;
}
#voucher-btn {
    padding: 3px 15px;
}
.horizontal-line {
    border-bottom: 2px solid black;
    width: 100%;
    margin-bottom: 20px;
}
.checkout-policy {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.delivery-img {
    display: flex;
    gap: 20px;
}
.checkout-policy {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}
.checkout-policy div {
    text-align: center;
    margin: 05px;
    padding: 20px; 
    border: 0px solid #ddd; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.checkout-policy div:hover {
    transform: scale(1.1);
}
.checkout-policy h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.checkout-policy img {
    max-width: 100%;
    height: 20vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.info-hero {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.info-box {
    text-align: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.info-box h6 {
    font-size: 1.2em;
    margin-bottom: 5px;
}
.info-box h4 {
    margin: 5px 0;
    color: #3498db
}
.delivery-img {
    display: flex;
}
.delivery-img img {
    height: 5vh;
    margin: 7px;
}


.checkout-status-bar {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status-step {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.status-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status-label {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.status-line {
    width: 100%;
    height: 2px;
    background-color: #d71c1c;
    position: absolute;
    top: 20px;
    z-index: -1;
}

.status-step:first-child .status-line {
    display: none;
}

.status-step.completed .status-icon {
    background-color: #4caf50;
}

.status-step.completed .status-label {
    color: #4caf50;
}

.status-step.active .status-icon {
    background-color: #ff9800;
}

.status-step.active .status-label {
    color: #ff9800;
}

.status-line.completed {
    background-color: #4caf50;
}
/* mobile screen device  */
@media screen and (max-width: 290px){
    #checkout {
        height: 398vh;
    }
    .checkout-hero {
        width: 100%;
    }
    .checkout-range p:nth-child(2) {
        width: 70%;
        font-size: 0.7em;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
}

/* mobile screen device  */
@media screen and (min-width: 291px) and (max-width: 321px){
    #checkout {
        height: 415vh;
    }
    .checkout-hero {
        width: 100%;
    }
    .checkout-range p:nth-child(2) {
        width: 70%;
        font-size: 0.7em;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
}

/* mobile screen device  */
@media screen and (min-width: 322px) and (max-width: 376px){
    #checkout {
        height: 417vh;
    }
    .checkout-hero {
        width: 100%;
    }
    .checkout-range p:nth-child(2) {
        width: 70%;
        font-size: 0.7em;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
}

/* mobile screen device  */
@media screen and (min-width: 377px) and (max-width: 426px){
    #checkout {
        height: 350vh;
    }
    .checkout-hero {
        width: 100%;
    }
    .checkout-range p:nth-child(2) {
        width: 70%;
        font-size: 0.7em;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
}

/* tablets and ipads screen device  */
@media screen and (min-width: 427px) and (max-width: 601px){
    #checkout {
        height: 325vh;
    }
    .checkout-hero {
        width: 100%;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
    .order-summary-hero {
        margin: auto;
        width: 85%;
        padding:0  15px 12px 15px;
    }
    .voucher-div {
        margin-top: 15px;
    }
    .input-div {
        padding-bottom: 15px;
    }
}

/* tablets and ipads screen device  */
@media screen and (min-width: 602px) and (max-width: 800px){
    #checkout {
        height: 290vh;
        padding-top: 20px;
    }
    .checkout-hero {
        width: 100%;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    .delivery-address-form {
        padding: 5px 10px;
    }
    #checkout-form {
        width: 100%;
    }
    .name-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .name-hero input {
        width: 100%;
    }
    .address-div {
        width: 85%;
    }
    #order-summary {
        width: 100%;
    }
    .order-summary-hero {
        margin: auto;
        width: 70%;
        padding:0  15px 12px 15px;
    }
    .voucher-div {
        margin-top: 15px;
    }
    .input-div {
        padding-bottom: 15px;
    }
}

/* tablets and laptops screen device  */
@media screen and (min-width: 801px) and (max-width: 1025px){
    #checkout {
        height: 225vh;
    }
    #order-details {
        display: flex;
        flex-direction: column-reverse;
    }
    #order-summary {
        width: 100%;
    }
    .order-summary-hero {
        margin: auto;
        width: 80%;
        padding:0  15px 12px 15px;
    }
}
/* tablets and ipads screen device  */
@media screen and (min-width: 1026px) and (max-width: 1445px){
    #checkout {
        height: 190vh;
    }
}