#market {
  margin: 8% 7% 0 7%;
  display: flex;
  justify-content: space-between;
}
#market input {
  width: 300px;
  border-radius: 7px;
}
#coin_img {
    height: 4vh;
    border-radius: 50%;
}
.loading {
  color: red;
  padding-top: 4%;
  font-size: 1.5em; 
  text-align: center;
}
.crypto-table {
  width: 90%;
  border-collapse: collapse;
  margin: 2% auto;
}
.crypto-table th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
.crypto-table td {
  padding: 7px 10px;
  text-align: center;
  border: 1px solid #ddd;
}
.crypto-table tr:hover {
  background-color: #eff4f0;
}
.coin-info {
  display: flex;
  align-items: center;
  padding: 0 0 0 3%;
}
.coin-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.coin-name {
  display: flex;
  text-align: center;
  padding-top: 10px;
}
.positive-change {
  color: green;
}

.negative-change {
  color: red;
}
.pagination {
  margin: 0 45% 3% 45%;
  gap: 10px;
}
.pagination button {
  padding: 2px 8px;
}

/* mobile responsiveness   */
@media (max-width: 768px) {
  .crypto-table {
    width: 90%;
  }
  .crypto-table th:nth-child(n+5),
  .crypto-table td:nth-child(n+5) {
    display: none;
  }

  .coin-info img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}