.content {
    height: 100vh;
    margin-top: 0%;
    background-size: cover;
}
.enrollbutton{
    height: 50px;
    margin-top: 8%;
    width: 240px;
    background-color: #4A9E8A;
    border: none;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 20px;
}
.homepage{
    margin-right: 50%;
    margin-top: 10%;
}
.paragraph{
    padding: 4%;
    font-size: 120%;
    font-style: italic;
    

}
h2{
    font-size: 200%;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bolder;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;     */
}
.crypto{
    color: #4A9E8A;
}
.homecrypto{
    margin-left: 50%;
    margin-top: -32%;
}
.ff{
    color: white;
}
