.navbar{
    display: flex;
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    justify-content: space-between;
    text-decoration: none;
    background-color: yellow;
}
.navigation-container {
    display: flex;
    padding-top: 1%;
    font-size: 1.2em;
    justify-content: space-around;
}
.navlinks {
    width: 100%;
}
#home{
    padding-right: 5%;
    text-decoration: none;
    color: black;
}
#about{
    padding-right: 5%;
    text-decoration: none;
    color: black;
}
#courses{
    padding-right: 5%;
    text-decoration: none;
    color: black;
}
#markets{
    padding-right: 5%;
    text-decoration: none;
    color: black;
}
#careers{
    text-decoration: none;
    padding-right: 5%;
    color: black;
}
#shop{
    text-decoration: none;
    color: black;
}
#button{
    height: 40px;
    margin-top: -5%;
    width: 140px;
    background-color: #4A9E8A;
    border: none;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 20px;
    margin-left: 40%;
}
.logo {
    height: 10vh;
    width: 100%;
}