.courses {
  margin: 7.8% 4.5%;
}
.featured-course-description {
  display: flex;
  gap: 20px;
}
#featured-img {
  height: 50vh;
  width: 50%;
}
#filter {
  display: flex;
  justify-content: space-between;
}
#searchcourse {
  width: 25%;
  height: 5vh;
  border-radius: 10px;
  padding: 1%;
}
.tabs-container {
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 29%;
}
.tab-content.active {
  max-width: 100%;
}
.tab {
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  transition: border-bottom 0.3s ease-in-out;
}

.tab:hover {
  background-color: #f9f9f9;
}

.active {
  border-bottom: 2px solid #3498db;
}

.tab-content {
  max-width: 600px;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none;
}

.tab-content.active {
  display: block;
}

.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.course h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.allCourses-div {
  display: flex;
}
#course-hero {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#filter-container {
  margin: 0 3% 0 0;
}

.timeline,
.hourweekly {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.timeline img,
.hourweekly img {
  margin-right: 5px;
}

#subscription-plan {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.subscription-c {
  text-align: center;
}

.subscription-c h4 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.subscription-c p {
  margin: 5px 0;
}

.subscription-c button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.subscription-c button:hover {
  background-color: #2980b9;
}
.filter-div  {
  margin-bottom: 14%;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  color: black; 
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black; 
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: black;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #3498db; 
  color: black;
}

.checkbox-container label {
  margin: 0;
  font-size: 1em; 
  width: 130px;
  margin-bottom: 3%;font-weight: 400;
}
#learnwithus {
  margin-bottom: 15%;
}
#learnandtrade {
  display: flex;
  justify-content: space-between;
  width: 90%;
}