.courses {
  margin: 7.8% 4.5%;
}
.featured-course-description {
  display: flex;
  gap: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#featured-img {
  height: 45vh;
  width: 45%;
  border-radius: 7px;
}
#featured-div {
  padding: 1% 0;
}
#featured-div button{
  margin-top: 2%;
}
#filter {
  display: flex;
  justify-content: space-between;
}

#searchcourse {
  width: 25%;
  height: 5vh;
  border-radius: 10px;
  padding: 1%;
}
.tabs-container {
  display: flex;
  background-color: #fff;
  margin-bottom: 20px;
  margin-top: 29%;
}
.tab-content.active {
  max-width: 100%;
}
.tab {
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  transition: border-bottom 0.3s ease-in-out;
}

.tab:hover {
  background-color: #f9f9f9;
}

.active {
  border-bottom: 2px solid #3498db;
}

.tab-content {
  max-width: 600px;
  padding: 20px;
  margin: 20px 0;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: none;
}

.tab-content.active {
  display: block;
  margin: 0 3%;
}
.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.course h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.allCourses-div {
  display: flex;
}
#all-courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#filter-container {
  margin: 0 3% 0 0;
}

.timeline,
.hourweekly {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.timeline img,
.hourweekly img {
  margin-right: 5px;
}
#subscription-div {
  margin-top: -50px;
}
#subscription-plan {
  display: flex;
  justify-content: space-around;
  margin: 10px 10%;
}
.subscription-card {
  text-align: left;
  width: 70%;
  height: 60vh;
  padding: 2% 3%;
  border-radius: 10px;
  border: 1px solid black;
  transition: transform 0.3s ease-in-out;
}
.subscription-card:hover {
  background-color: #252a43;
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}
.subscription-card button {
  width: 100%;
  margin-bottom: 0;
}
.subscription-card button:hover {
  background-color: #4caf50;
}
.subscription-card h4 {
  text-align: center;
}
.filter-div  {
  margin-bottom: 14%;
}
#filter #filter-container {
  display: block; 
}
#toggleFilter {
  display: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; 
  color: black; 
}

.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid black; 
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: black;
}

.checkbox-container input[type="checkbox"]:checked {
  background-color: #3498db; 
  color: black;
}

.checkbox-container label {
  margin: 0;
  font-size: 1em; 
  width: 130px;
  margin-bottom: 3%;font-weight: 400;
}
#learnwithus {
  margin-bottom: 15%;
}
#learnandtrade {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

 /* mobile screen device  */
 @media screen and (min-width: 360px) and (max-width: 765px){
  .courses {
    margin-top: 120px;
  }
  .allCourses-div {
    display: flex;
    flex-direction: column;
  }
  .featured-course-description {
    display: flex;
    flex-direction: column;
  }
  #toggleFilter {
    display: block; 
    padding: 0 auto;
  }
  #toggleFilter i{
    font-size: 1.2em; 
    padding-right: 4px;
  }
  #searchcourse {
    width: 170px;
    margin-right: -10px;
    height: auto;
  }
  #featured-img {
    height: 30vh;
    width: 100%;
  }
  #all-courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs-container {
    margin-top: 650px;
  }
  .tab-content.active {
    margin: 0;
  }
  .filter-div {
    margin-bottom: 10px;
  }
  #filter-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    column-gap: 30px;
    padding-top: 5px;
  }
  .course-card {
    max-width: 100%;
    margin: 0% auto;
    padding: 0;
    height: auto;
  }
  #subscription-div {
    margin-top: -580px;
    gap: 15px;
  }
  #learnwithus {
    margin: 210px 0 560px 0;
  }
  #learnandtrade {
    display: flex;
    flex-direction: column;
  }

  /* #filter.filter-visible {
    height: 4vh; 
  } */
  /* #filter-container {
    display: none; 
  }
  .filter-visible #filter-container {
    display: block; 
  }
  #toggleFilter {
  display: block; 
  }
  .filter-visible {
    display: none; 
  }
 

  .filter-visible #filter-container {
    display: block;
  }

  .filter-visible #toggleFilter {
    display: block;
  } */
  
}