.courses {
  margin: 5% 4.5%;
  padding: 2% 0;
  height: auto;
}
.featured-course-description {
  display: flex;
  gap: 80px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: auto;
  width: 90%;
}
.featured-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; 
  overflow: hidden;
  text-overflow: ellipsis;
}
#featured-img {
  height: 45vh;
  object-fit: contain;
}
#featured-div {
  padding: 1% 0;
}
#featured-div button{
  margin-top: 2%;
}
#filter {
  display: flex;
  justify-content: space-between;
}
.categorySearchInput {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#searchcourse {
  display: flex;
  justify-content: flex-end;
  width: 25%;
  height: 5vh;
  border-radius: 4px;
  padding: 1%;
  border: 1px solid gray;
}
.tabs-container {
  display: flex;
  margin-bottom: 20px;
  margin-top: 29%;
}
.tab-content.active {
  max-width: 100%;
}
.tab {
  padding: 15px 20px;
  margin: 0;
  cursor: pointer;
  transition: border-bottom 0.3s ease-in-out;
}
.active {
  border-bottom: 2px solid #fb8500;
  max-width: fit-content;
}
.tab-content {
  max-width: 600px;
  padding: 20px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  display: none;
  border: 1px solid gray;
}
.tab-content.active {
  display: block;
  margin: 0 3%;
}
.course {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}
.course h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.allCourses-div {
  display: flex;
}
#all-courses {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
}
#filter-container {
  margin: 0 3% 0 0;
}
.timeline,
.hourweekly {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.timeline img,
.hourweekly img {
  margin-right: 5px;
}
#membership-div {
  margin-top: -0px;
  margin: auto;
  width: 90%;
}
#membership-plan {
  display: flex;
  justify-content: space-between;
  margin: 10px 10%;
  gap: 20px;
}
.subscription-card {
  text-align: left;
  width: 70%;
  height: auto;
  padding: 2% 3%;
  border-radius: 4px;
  border: 1px solid gray;
  transition: transform 0.3s ease-in-out;
}
.subscription-card:hover {
  background-color: #252a43;
  cursor: pointer;
  color: white;
  transform: scale(1.05);
}
.subscription-card button {
  width: 100%;
  margin-bottom: 0;
}
.subscription-card button:hover {
  background-color: #4caf50;
}
.subscription-card h4 {
  text-align: center;
}
.filter-div  {
  margin-bottom: 14%;
}
#filter #filter-container {
  display: block; 
}
#toggleFilter {
  display: none;
}
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; 
}
.checkbox-container input[type="checkbox"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid gray; 
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.checkbox-container input[type="checkbox"]:checked {
  background-color: #3498db; 
}
.checkbox-container label {
  margin: 0;
  font-size: 1em; 
  width: 130px;
  margin-bottom: 3%;
  font-weight: 400;
}
#learnwithus {
  height: auto;
  margin: 4% auto;
}
.learn-headline {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 10px;
}
#learnandtrade {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}
.learn-cards {
  padding: 0 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card1 {
  background-color: #ffd700; 
}
.card2 {
  background-color: #87ceeb; 
}
.card3 {
  background-color: #90ee90;
}
.learn-cards h3 {
  font-size: 1.2em;
  color: #333;
}

.learn-cards p {
  font-size: 1em;
  color: #666;
}


 /* mobile screen device  */
 @media screen and (min-width: 360px) and (max-width: 765px){
  #featured-div {
    padding: 5px 10px;
  }
  #featured-div p {
    margin-bottom: 8px;
  }
  #featured-div button{
    width: 100%;
  }
  .courses {
    margin-top: 120px;
  }
  .allCourses-div {
    display: flex;
    flex-direction: column;
  }
  .featured-course-description {
    display: flex;
    flex-direction: column;
  }
  #toggleFilter {
    display: block; 
    padding: 0 auto;
  }
  #toggleFilter i{
    font-size: 1.2em; 
    padding-right: 4px;
  }
  #searchcourse {
    width: 170px;
    margin-right: -10px;
    height: auto;
  }
  #featured-img {
    height: 30vh;
    width: 100%;
  }
  #all-courses {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .tabs-container {
    margin-top: 650px;
  }
  .tab-content.active {
    margin: 0;
  }
  .filter-div {
    margin-bottom: 10px;
  }
  #filter-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr); 
    column-gap: 30px;
    padding-top: 5px;
  }
  .course-card {
    max-width: 100%;
    margin: 0% auto;
    padding: 0;
    height: auto;
  }
  #subscription-div {
    margin-top: -580px;
    gap: 15px;
  }
  #learnwithus {
    margin: 210px 0 560px 0;
  }
  .learn-headline {
    width: 100%;
  }
  #learnandtrade {
    display: flex;
    flex-direction: column;
  }

  /* #filter.filter-visible {
    height: 4vh; 
  } */
  /* #filter-container {
    display: none; 
  }
  .filter-visible #filter-container {
    display: block; 
  }
  #toggleFilter {
  display: block; 
  }
  .filter-visible {
    display: none; 
  }
 

  .filter-visible #filter-container {
    display: block;
  }

  .filter-visible #toggleFilter {
    display: block;
  } */
  
}