.login-form {
    width: 50%;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e6f7ff;
}
.login-form h2{
    text-align: center;
}
.email input {
    height: 6vh;
}
.password input {
    height: 6vh;
}
.form {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e6f7ff; 
    margin-bottom: 7%;
}
.form h2 {
    text-align: center;
}
.container {
    width: 100%;
    height: 5vh;
}
.password {
    margin: 3% 0 2% 0;
}
.login {
    text-align: center;
    color: #004080;
}
.input-group {
    margin-bottom: 20px;
}
.input-field {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e8ee; 
    border-radius: 15%;
}
.login-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.login-button:hover {
    color: blue; 
}
.checkbox-div {
    display: flex;
    justify-content: space-between;
}
#checkbox-container {
    display: flex;
    width: 120px;
}
#checkbox-container input{
    height: 2vh;
    align-items: center;
    margin-top: 16%;
}

.account {
    text-align: center;
    margin-top: 20px;
    color: #555;
}
.account a {
    color: #004080; 
    text-decoration: none;
}
.account a:hover {
    text-decoration: underline;
}
